---
import Layout from "~/layouts/Layout.astro";
import TopBar from "~/components/app/TopBar.astro";
import Board from "~/components/app/Board.astro";
---

<Layout title="Playground - Aboard" showNavbar={false}>
  <div class="h-screen flex flex-col overflow-hidden bg-base-100">
    <TopBar title="Playground" />
    <main class="flex-1 overflow-hidden relative">
        <Board />
    </main>
  </div>
</Layout>
