---
import BoardView from "~/components/app/BoardView";
import Layout from "~/layouts/Layout.astro";

export const prerender = false;
---

<Layout title="Playground">
  <div class="h-screen flex flex-col overflow-hidden bg-base-100">
    <main class="flex-1 overflow-hidden relative">
      <BoardView client:load title="Playground" />
    </main>
  </div>
</Layout>
